*.o
*.d
moc_*
code/arduino/firmware.*
*.map
build-train-*
code/arduino/bak/
code/arduino/lufa-master/
code/arduino/todo
code/image/.qmake.stash
code/image/Makefile
code/image/lib/Makefile
code/image/lib/liblib.so*
code/image/lib/qrc_train.cpp
code/image/lib/ui_mainwindow.h
code/image/src/Makefile
code/image/tests/.tmp/
code/image/tests/Makefile
code/image/tests/tests*.tar.gz
code/image/tests/tst_tests.moc
code/image/todo
code/image/train.pro.user
code/image/train*.tar.gz
data/
todo

